/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
.rel {
    position:relative;
}
.abs {
    position: absolute;
}
.inline {
    display: inline-block;
}
.w-100 {
    width:100%;
}
.w-80 {
    width: 80%
}
.w-70 {
    width: 70%;
    margin:auto;
}
.w-50 {
    width: 50%;
}
.mrg-auto {
    margin: auto;
}
.mrg-l-r-30 {
    margin-left: 30px;
    margin-right:30px;
}
.float-sx {
    float: left;
}
.float-dx {
    float: right;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.mrg-r-5 {
    margin-right: 5%;
}
.mrg-l-5 {
    margin-left: 5%;;
}
.pdn-l-10{
    padding-left: 10px;
}
.pdn-r-10{
    padding-right: 10px;
}
.pdn-r-20 {
    padding-right: 20px;
}
.pdn-b-40{
    padding-bottom: 40px;
}
.blue-t {
    color:#33475B;
}
.text-c {
    text-align: center;
}
.text-w {
    color: white;
}
.btn {
    text-decoration: none;
    border-radius: 5px;
}
.btn-small {
    padding: 10px;
}
.btn-large {
    padding: 20px 35px 20px 35px;
}
.btn-white {
    color:#F7775A;
    border: 1px solid #F7775A;
    background-color: white;
}
.btn-orange {
    color: white;
    background-color: #F7775A;
}
.btn-orange:hover {
    background-color: rgba(247, 119, 90, 0.8);
}
.btn-white:hover {
    background-color: #fff1ee;
}
.simple-link {
    text-decoration: none;
}
.simple-link:hover{
    text-decoration: underline;
}
/* header */
header {
    height: 800px;
}
.container-h {
    position: fixed;
    width: 100%;
    height: 80px;
    margin:auto;
    line-height: 80px;
    border-bottom: 1px solid #33475B;
    background-color: #F4F9FD;
    z-index: 2;
}
.top-l {
    width: 30%;
    left: 0;
    line-height: 80px;
    vertical-align: middle;
}
.divider {
    width: 1px;
    height: 20px;
    border-right: 2px solid grey;
    vertical-align: middle;
}
.top-r {
    width: 30%;
    right: 0;
    text-align: right;
    line-height: 80px;
    vertical-align: middle;
}
#search {
    color: #75CAD9;
}
/* jumbotron */
.jumbotron {
    padding-top: 60px;
}
.header-j {
    height: 80px;
    line-height: 80px;
}
.logo {
    width: 10%;
}
img {
    display: inline-block;
    vertical-align: middle;
}
.right-header-j {
    width: 60%;
    right : 0;
    top: 0;
    text-align: right;
}
.jumb-middle {
    width: 100%;
    height: 700px;
    background-image: url('../img/jumbotron.png');
    background-repeat: no-repeat;
    background-position: right;
    background-color: #FEF4EE;
}
h1 {
    font-size: 55px;
    line-height: 60px;
    padding-top: 50px;
}
.green-line {
    width: 100%;
    height: 100px;
    background-color: #AFEBE4;
    bottom: -1%;
    border-top: 3px solid #33475B;
    border-bottom: 3px solid #33475B;
}
.big-btn {
    display: inline-block;
    padding: 15px;
    line-height: 30px;
    text-decoration: none;
}
.big-p {
    font-size: 19px;
    line-height: 30px;
    padding: 40px 0; 
}
.small-p {
    font-size: 15px;
    padding-top: 40px;
}
/* main */
.first-container {
    background-color: #F4F9FD;
}
.section1 {
    width: 50%;
    margin: 0 auto;
}
.cube {
    padding-top: 100px;
    height: 350px;
    display: block;
    margin: auto;
}
h2 {
    font-size: 30px;
}
/* .section1 > p {
    font-size: 18px;
    padding-top : 40px;
} */
.section2 {
    margin-top: 50px;
    background-color: white;
    box-shadow: 0 0 11px #eaf0f6;
}
.block1 {
    width: 25%; 
    padding-top: 50px;
    margin-left: 80px;
    margin-bottom:10px;
    background-color: white;
}
.block2 {
    width: 60%; 
    padding-top: 50px;
    margin-left: 30px;
}
.block1 > div.rel > a.abs {
    top: 25px;
    left: 90px;
}
#book {
    display: block;
    height: 120px;
    margin: auto;
}
.btn-center {
    display: block;
    width: 150px;
    height: 60px;
    margin: auto;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    line-height: 30px;
    margin-top: 20px;
}
h4 {
    font-size: 26px;
}
.section2 p {
    font-size: 16px;
    width: 85%;
    padding-top: 30px;
}
.title-mid {
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 40px;
}
hr {
    display: inline-block;
    width: 55%;
    height: 3px;
    vertical-align: middle;
    margin-left: 40px;
    background-color:grey;
}
.list-with-icon {
    padding-top: 30px;
    padding-bottom: 50px;
}
/* section3 */
.section3 {
    margin-top: 50px;
    padding-bottom: 30px;
}
.block3 {
    width: 30%;
    background-color: white;
    box-shadow: 0 0 11px #eaf0f6;
}

.images-middle {
    display: block;
    height: 150px;
    margin:auto;
    padding: 20px 0 30px 0;
}
.block3 p {
    width:85%;
    margin:auto;
}
.border {
    width:85%;
    margin: auto;
    border-bottom: 2px solid grey;
}
.list {
    width: 85%;
}
ul.list {
    list-style: none;
  }
ul.list li::before {
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-right: 15px;
    color: #F7775A;
}
.orizontal-list > li {
    display:inline-block;
    padding-right: 20px;
}
/* gradient */
.gradient {
    width: 100%;
    height: 800px;
    background-image: linear-gradient(45deg,#00a4bd,#00bda5);
}
.middle-title {
    padding: 50px;
    font-size: 34px;
}
.gradient p {
    font-size: 18px;
    padding-bottom: 50px;
}
.table > div {
    display: inline; 
}
.table > div:nth-child(4) {
    display: block;
}